/.vs/
/bin/
/TesterApp/bin/
/TesterApp/obj/
/IntPair/Debug/
/COMUnregisterAssembly/bin/
/COMUnregisterAssembly/obj/
/NumberOperators/Debug/
/ExternalCacheItem/bin/
/ExternalCacheItem/obj/
/ExternalCache/bin/
/ExternalCache/obj/
